.container {
    padding: 2rem;
    box-shadow: none;
}

.container1 h2 {
    text-align: center;
}

.add-button {
    display: flex;
    justify-content: space-between;
}

.btn-tambah {
    background-color: #0044B4;
    padding: 1%;
    width: 8%;
}

table {

    box-shadow: none;
    border: 1px solid #ddd;
}

th,td {
    border: 1px solid #ddd;
 
}

td {
    padding: 1%;
    text-align: center;
  
}

.aksi {
    display: flex;
  
 gap: 2%;
}