<mat-card class="container">

    <mat-card-content class="content">

        <div class="display0">
            <div class="column0">

            <h1>Layanan Informasi Pendapatan Daerah</h1>
            <p>SIMPATDA adalah sebuah sistem informasi manajemen
                 pendapatan daerah yang berfungsi membantu proses di dalam dinas 
                 pendapatan daerah, seperti penghitungan pajak, pencatatan identitas wajib pajak, dan pembuatan laporan pajak.</p>
            </div>

        
           
            <img class="absolute0" src="assets/lap2.png" width="20%">
      
      
          

        </div>
        
       
        <h2>Keunggulan Produk :</h2>
        <div class="display">

            <div class="column2">
              
                <p class="p0">
                    <mat-icon class="check-icon">check_circle</mat-icon> UU HKPD mengeluarkan pengaturan tentang pajak barang dan jasa tertentu (PBJT), dalam mengatur berbagai pelaksanaan desentralisasi fiskal dan pemungutan pajak daerah. Pada dasarnya, PBJT merupakan integrasi 5 jenis pajak daerah dalam UU PDRD yang berbasis konsumsi, yaitu pajak hotel, pajak restoran, pajak hiburan, pajak parkir, dan pajak penerangan jalan. Berdasarkan pada Pasal 1 angka 42 UU HKPD, PBJT adalah pajak yang dibayarkan oleh konsumen akhir atas konsumsi barang dan/atau jasa tertentu. Barang dan/atau jasa tertentu yang menjadi objek PBJT tersebut meliputi:
                    A.Jasa Perhotelan 
                    B.Jasa Makanan/atau Minuman 
                    C.Jasa Kesenian dan Hiburan 
                    D.Jasa Parkir 
                    E.Pajak Air Tanah 
                    F.Pajak MBLB 
                    G.Pajak Sarang burung Walet
                    H.Pajak Reklame
                    I.BPHTB 
                    J.Tenaga Listrik
                    K.PBB
                  </p>
          
                  <div class="garis"></div>
          
                  <p class="p0">
                    <mat-icon class="check-icon">check_circle</mat-icon> Optimasi Pelayanan Pasar
                  </p>
                  <p class="p0">Membantu otomasi pelayanan pasar secara terintegrasi.</p>
          
                  <div class="garis"></div>
          
                  <p class="p0">
                    <mat-icon class="check-icon">check_circle</mat-icon> Optimasi Retribusi Pasar
                  </p>
                  <p class="p0">Membantu mengontrol pengelolaan pasar pada tunggakan retribusi.</p>
          
                  <div class="garis"></div>
          
                  <p class="p0">
                    <mat-icon class="check-icon">check_circle</mat-icon> Informasi Cepat & Akurat
                  </p>
                  <p class="p0">Membantu menyediakan informasi yang cepat dan akurat sesuai kebutuhan pengelola pasar.</p>
          
                  <div class="garis"></div>
          
                  <p class="p0">
                    <mat-icon class="check-icon">check_circle</mat-icon> Dashboard
                  </p>
                  <p class="p0">Membantu pengguna mengelola dan memantau kewajiban pajak mereka secara lebih efisien.</p>
          
                  <div class="garis"></div>
          
                  <p class="p0">
                    <mat-icon class="check-icon">check_circle</mat-icon> Lapor Pajak
                  </p>
                  <p class="p0">Memudahkan wajib pajak dalam melaporkan kewajiban pajak mereka secara online.</p>
          
                  <div class="garis"></div>
          
                  <p class="p0">
                    <mat-icon class="check-icon">check_circle</mat-icon> Pemadanan Data NIK
                  </p>
                  <p class="p0">Memungkinkan integrasi dan verifikasi data wajib pajak dengan basis data kependudukan.</p>
          
                  <div class="garis"></div>
          
                  <p class="p0">
                    <mat-icon class="check-icon">check_circle</mat-icon> Penyetoran Pajak
                  </p>
                  <p class="p0">Memudahkan wajib pajak dalam melakukan pembayaran pajak secara online.</p>
          
                  <div class="garis"></div>
          
                  <p class="p0">
                    <mat-icon class="check-icon">check_circle</mat-icon> Daftar Permohonan
                  </p>
                  <p class="p0">Memungkinkan wajib pajak mengajukan permohonan terkait kewajiban pajak dan memantau statusnya.</p>
          
                  <div class="garis"></div>
          
                  <p class="p0">
                    <mat-icon class="check-icon">check_circle</mat-icon> Cetak Kartu NPWPD
                  </p>
                  <p class="p0">Fitur ini memudahkan wajib pajak untuk mendapatkan kartu NPWPD mereka dengan cepat dan efisien.</p>
          
                  <div class="garis"></div>
          
                  <p class="p0">
                    <mat-icon class="check-icon">check_circle</mat-icon> LAPORAN LAPORAN DAN REKAPITULASI
                  </p>
                  <p class="p0">Berisi laporan dan rekapitulasi secara berkala terkait jumlah pasar, pedagang, pendapatan retribusi, tunggakan perbulan atau periode tertentu.</p>
          
                  <div class="garis"></div>
          
                  <p class="p0">
                    <mat-icon class="check-icon">check_circle</mat-icon> NOTIFIKASI VIA WHATSAPP
                  </p>
                  <p class="p0">Notifikasi ke petugas dan pedagang melalui Whatsapp.</p> 
    
            
            </div>

        
          
      

            
      

        </div>

    </mat-card-content>

</mat-card>

<mat-card class="container2">
    <mat-card-content class="content2">

      

        <h1>Tampilan Produk:</h1>

        <div class="slider-container">
          <button class="prev" (click)="prevSlide()">&#10094;</button>
          <div #slidesContainer class="slides">
            <img src="assets/miringkiri.png" class="slide" width="30%">
            <img src="assets/lap2.png" class="slide" width="40%" height="200px">
            <img src="assets/miringkanan.png" class="slide" width="30%">

            <img src="assets/miringkiri.png" class="slide" width="30%">
            <img src="assets/lap2.png" class="slide" width="40%">
          
            
          </div>
          <button class="next" (click)="nextSlide()">&#10095;</button>
        </div>
      
      
    </mat-card-content>
</mat-card>
<div class="cta">
    <div class="cta-content">
        <img src="assets/cs.png" alt="Customer Support" >
        <div class="cta-text">
            <p>Butuh Software Manajemen Untuk Bisnis Anda? Kami siap membantu.</p>
            <button [routerLink]="['/hubungi-kami']" mat-button>Hubungi Kami</button>
        </div>
    </div>
</div>

